.section5{
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    border-bottom: 8px solid #222222;
    &__content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 1100px;
        padding-top:4.4em ;
        padding-bottom:4.4em ;
        &__text-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            color:rgb(255, 255, 255);
            &__h1 {
                font-family: Helvetica, sans-serif, Arial;
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 0.35em;
            }
            &__h2 {
                font-family: Helvetica, sans-serif, Arial;
                font-size: 26px;
                font-weight: 400;
            }

        }
        &__img-container{
            width: 45.5%;
            margin-right: 3.4em;
            &__img {
                width:100%;
            }
        }
    }
}

